header {
  background-color: #000056; }

.headerSup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.header-nav {
  margin-left: 0px;
  display: flex;
  list-style-type: none; }
  .header-nav li {
    margin-left: 1.5rem; }

header {
  background-color: red; }
