header {
  background-color: #000056; }

.headerSup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.header-nav {
  margin-left: 0px;
  display: flex;
  list-style-type: none; }
  .header-nav li {
    margin-left: 1.5rem; }
  .header-nav a {
    color: white;
    text-decoration: none; }

#img-Logo-head {
  margin-left: 9rem; }

.navbar-nav a {
  color: white !important;
  text-decoration: none !important; }

#filtrarPor {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.nav-disciplinas {
  background-color: #15157c; }
  .nav-disciplinas ul {
    display: flex; }
  .nav-disciplinas li {
    list-style-type: none;
    border-radius: 1rem;
    padding: 0.2rem;
    border: 1px solid white;
    margin-top: 1rem;
    margin-left: 3rem;
    text-align: center; }
  .nav-disciplinas a {
    padding: 2rem;
    text-decoration: none;
    color: white; }

.cardDisciplina {
  padding: 1.2rem;
  border-radius: 1.5rem !important;
  text-decoration: none !important;
  min-height: 60px;
  color: black;
  margin-bottom: 1rem; }

.imgCard {
  height: 300px; }

.lineaDisciplina {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 15px; }

.disciplina {
  text-decoration: none; }
  .disciplina #texto {
    display: flex;
    flex-direction: column; }
  .disciplina a {
    text-decoration: none;
    height: 10rem; }
  .disciplina div img {
    text-align: center; }
  .disciplina h3 {
    text-align: center;
    color: black; }
  .disciplina p {
    color: black; }

.form {
  display: inline;
  margin: 1rem;
  align-items: center; }

.form-select, .form-control, input, select, textarea {
  border-radius: 0.5rem !important;
  padding: 0.5rem;
  margin: 0.3rem;
  border: 2px solid #000056 !important;
  text-align: center; }

.botonera button {
  border-radius: 0.9rem;
  padding: 1rem;
  margin: 1rem; }

.contentNoticia {
  justify-content: center;
  align-items: flex-end;
  width: 100%; }

#imgCarrusel {
  width: 100%;
  height: 600px; }

.carousel-caption {
  opacity: 0.7 !important; }

.cuerpoNoticia {
  background-color: #000056;
  border-radius: 1rem !important;
  padding: 0.3rem; }

article {
  display: inline-block; }

.noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000056;
  width: 50%;
  padding: 1.3rem;
  margin-bottom: 2rem;
  color: white;
  background: #0575E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021B79, #0575E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 1rem; }
  .noticia h5 {
    margin-bottom: 0%;
    margin-top: 0%; }

.contentInfo {
  display: flex;
  flex-direction: row;
  align-items: center; }

#parrafoBoton {
  background: #1e3c72;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a5298, #1e3c72);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 3px solid #000056;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  border-radius: 1rem;
  color: white; }

#botonInfo {
  background-color: #000056;
  color: white;
  border-radius: 30px;
  text-align: center; }

footer {
  background-color: #000056; }
  footer p {
    color: white; }

.contenidoFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.iconos-footer {
  color: white; }

.navGeneral {
  display: flex;
  list-style-type: none; }
  .navGeneral li {
    margin: 0.5rem; }

.btnTW {
  color: #55acee !important; }

* {
  font-size: 1.1rem;
  font-family: 'Roboto',  Verdana, sans-serif; }

body {
  width: 100%;
  height: auto; }

@media (min-width: 300px) and (max-width: 570px) {
  #textDisciplinas {
    font-size: 20px;
    font-weight: bolder; }
  #imgCarrusel {
    height: 310px; }
  #imgLogoMobile {
    width: 70px; }
  footer #imagenFooter {
    width: 70px; }
  footer p {
    font-size: 10px; }
  footer li {
    margin-left: 1px; }
    footer li i {
      font-size: 1em; }
  .contenidoFooter p {
    font-size: 10px; }
  .contenidoFooter .navGeneral
li {
    margin-left: 1px; }
    .contenidoFooter .navGeneral
li i {
      font-size: 1em; }
  .nav-disciplinas ul {
    margin-top: 16px; }
  .nav-disciplinas li {
    margin-top: 10px; } }
