*{
    font-size: 1.1rem;
    font-family: 'Roboto',  Verdana, sans-serif;
}
header{
    background-color:  #000056;
}
 .navResponsive{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000056;
    display: none;
}
header .menuResponsive{
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid white;
}
.headerSup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
input#menu{
    display: none;
}
input#menu:checked ~ .navResponsive {
    display: block;
} 
.header-nav{
    margin-left: 0px;
    display: flex;
    list-style-type: none;
}
.header-nav li{
    
    /* padding: 1rem; */
    /* border: 1px solid rgb(248, 243, 243); */
    margin: 0.3rem;
}
.header-nav li a{
    color: #fff;
    text-decoration: none;
}
.contentNoticia{
    background-image: url(../imagen/imagenCarrusel.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 91vh;
    top: 0;
}

#imgCarrusel{
    width: 100%;
} 
article{
    display: inline-block;
}
.noticia h5{
    margin-bottom: 0%;
    margin-top: 0%;
}
.noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000056;
    width: 50%;
    padding: 1.3rem;
    margin-bottom: 2rem;
    color: white;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 1rem;
    
}
.contentInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#parrafoBoton{
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 3px solid #000056;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    border-radius: 1rem;
}
#botonInfo{
    background-color: #000056;
    color: white;
    border-radius: 30px;
    text-align: center;
}

footer{
    background-color:  #000056 ;
    /* height: 16rem; */
    /* display: flex; */
}
.contenidoFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

footer p{
    color: #fff;
}
.navGeneral{
    display: flex;
    list-style-type: none;
}
.navGeneral li{
    margin: 0.5rem;

}
.iconos-footer{
    color: white;

}
/* Institucional */

.nav-disciplinas{
    background-color: rgb(21, 21, 124);
    padding: 0.8rem;

}
.nav-disciplinas ul li{
    list-style-type: none;
    border-radius: 1rem;
    display: inline;
    padding: 0.6rem;
    border: 1px solid white;
    margin: 2.8rem;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: white;

}
/* Galería */

#filtrarPor{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.todasLasDisciplinas{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        margin-bottom: 2rem;
}
.disciplina{
    border: 2px solid rgb(15, 15, 15);
    padding: 1.2rem;
    border-radius: 1.5rem;
    
    }
.lineaDisciplina{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
}

.disciplina1 { grid-area: 1 / 1 / 2 / 2; }
.disciplina2 { grid-area: 1 / 2 / 2 / 3; }
.disciplina3 { grid-area: 1 / 3 / 2 / 4; }
.disciplina4 { grid-area: 1 / 4 / 2 / 5; }
.disciplina5 { grid-area: 2 / 1 / 3 / 2; }
.disciplina6 { grid-area: 2 / 2 / 3 / 3; }
.disciplina7 { grid-area: 2 / 3 / 3 / 4; }
.disciplina8 { grid-area: 2 / 4 / 3 / 5; }

.disciplina #texto{
    display: flex;
    flex-direction: column;
}
.disciplina a{
    text-decoration: none;
    height: 10rem;
}
.disciplina div img{
    height: 250px;
    width: 360px;
    margin-left: 0.7rem;
    border-radius: 2.5rem;
    margin-bottom: 0.8rem;
    text-align: center;
}
.disciplina h3{
    text-align: center;
    color: black;
}
/* .disciplina h5{
    text-align: right;
} */
.disciplina p{
    text-align: justify;
    color: black;
}

/* Disciplinas */

.disciplina a{
    text-decoration: none;
    height: 10rem;
}
.disciplina div img{
    height: 270px;
    width: 360px;
    margin-left: 0.7rem;
    border-radius: 2.5rem;
    margin-bottom: 0.8rem;
    text-align: center;
}
.disciplina h3{
    text-align: center;
    color: black;
}
.disciplina p{
    text-align: justify;
    color: black;
}
/* Contacto */
section{
    text-align: center;
}
.form{
    display: inline;
    margin: 1rem;
    align-items: center;
}
.form input, select, textarea{
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.3rem;
    border: 2px solid #000056;
    text-align: center;
    width: 20%;
}
select{
    width: 21%;
}
/* select option{
    border-radius: 0.5rem;
    border: 2px solid #000056;
} */
.botonera button{
    border-radius: 0.9rem;
    padding: 1rem;
    margin: 1rem;

}
@media (max-width: 768px){
    .header-nav{
        display: none;
    }
    .navResponsive{
        display: none !important;
    }
    header .navResponsive{
        display: initial;
        position: inherit;
    }
    header .navResponsive  ul {
        flex-direction: row;
        justify-content: space-evenly;
    }
    header .navResponsive  {
        position: relative;
    }

    header #navResponsive :hover > ul {
        display: flex;
    }
    
    header .navResponsive  ul {
        position: absolute;
        left: 0;
        padding: 0.5rem;
        height: 7rem;
        background-color: rgb(250, 250, 250);
        border-radius: 5px;
    }
    .contenidoFooter {
        display: flex;
        width: 100%;
        /* font-size: 3rem;
        width: 1rem;
        height: 4rem; */
    }
}
@media (min-width: 768px){
    header .menuResponsive{
        display: none ;
    }
    header .navResponsive .header__closeMenu {
        display: none;
      }
    
    
}