header {
  background-color: #000056;
  width: auto; }
  header .row {
    --bs-gutter-x: 0 !important; }
    header .row .headerSup {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
    header .row .header-nav {
      margin-left: 0px;
      display: flex;
      list-style-type: none;
      padding-right: 3rem;
      padding-left: 3rem; }
      header .row .header-nav li {
        margin-left: 1.5rem; }
      header .row .header-nav a {
        color: white;
        text-decoration: none; }
    header .row #img-Logo-head {
      margin-left: 9rem; }
  header .navbar-nav li a {
    color: white !important;
    text-decoration: none !important; }
  header #butonDisciplina {
    margin-left: 0.7rem;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem; }
  header .navBotonSuperior {
    margin-right: 0.7rem; }

#filtrarPor {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.nuevaNav {
  background-color: #15157c; }
  .nuevaNav #navbarNav {
    justify-content: center; }

.cardDisciplina {
  padding: 1.2rem;
  border-radius: 1.5rem !important;
  text-decoration: none !important;
  min-height: 60px;
  color: black;
  margin-left: 0.7rem;
  margin-bottom: 1rem;
  height: 580px; }

.cardText {
  margin-top: 1rem; }
  .cardText h2 {
    text-align: center; }

.imgCard {
  height: 200px; }

.lineaDisciplina {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 15px; }

.disciplina {
  text-decoration: none; }
  .disciplina #texto {
    display: flex;
    flex-direction: column; }
  .disciplina a {
    text-decoration: none; }
  .disciplina div img {
    text-align: center; }
  .disciplina h3 {
    text-align: center;
    color: black; }
  .disciplina p {
    color: black; }

.imgGaleria {
  height: 500px;
  border-radius: 8px !important; }
  .imgGaleria img {
    height: 305px; }

.form {
  display: inline;
  margin: 1rem;
  align-items: center; }

.form-select, .form-control, input, select, textarea {
  border-radius: 0.5rem !important;
  padding: 0.5rem;
  margin: 0.3rem;
  border: 2px solid #000056 !important;
  text-align: center; }

.botonera button {
  border-radius: 0.9rem;
  margin: 1rem; }

.botonera #btnReset {
  width: 70%; }

.botonera #btnEnviar {
  width: 60%;
  height: 40px; }

.contentNoticia {
  justify-content: center;
  align-items: flex-end;
  width: 100%; }

#imgCarrusel {
  width: 100%;
  height: 600px; }

.carousel-caption {
  opacity: 0.7 !important; }

.cuerpoNoticia {
  background-color: #000056;
  border-radius: 1rem !important;
  padding: 0.3rem; }

.noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000056;
  width: 50%;
  padding: 1.3rem;
  margin-bottom: 2rem;
  color: white;
  background: #0575E6;
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);
  background: linear-gradient(to right, #021B79, #0575E6);
  border-radius: 1rem; }
  .noticia h5 {
    margin-bottom: 0%;
    margin-top: 0%; }

.contentInfo {
  display: flex;
  flex-direction: row;
  align-items: center; }

#parrafoBoton {
  background: #1e3c72;
  background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a5298, #1e3c72);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 3px solid #000056;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  border-radius: 1rem;
  color: white; }

#botonInfo {
  background-color: #000056;
  color: white;
  border-radius: 30px;
  text-align: center; }

footer {
  background-color: #000056; }
  footer p {
    color: white; }

.contenidoFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.iconos-footer {
  color: white; }

.navGeneral {
  display: flex;
  list-style-type: none; }
  .navGeneral li {
    margin: 0.5rem; }

.btnTW {
  color: #55acee !important; }

.footerGaleria {
  margin-top: 1.85rem !important; }

* {
  font-size: 1.1rem;
  font-family: 'Roboto',  Verdana, sans-serif;
  --bs-gutter-x: 0 !important; }

body {
  width: 100%;
  height: auto; }

.disclaimer {
  display: none; }

@media (min-width: 300px) and (max-width: 400px) {
  #textDisciplinas {
    font-size: 20px;
    font-weight: bolder; }
  .cardDisciplina {
    margin-left: 0;
    margin-bottom: 0.8rem; }
  #imgCarrusel {
    height: 220px; }
  #btnReset {
    width: 90% !important; }
  #btnEnviar {
    width: 60% !important;
    height: 68px !important; }
  #imgLogoMobile {
    width: 60px;
    margin-left: 0.8rem; }
  footer #imagenFooter {
    width: 55px; }
  footer p {
    margin-top: 20px;
    font-size: 10px; }
  footer .navGeneral li {
    margin: 0rem;
    margin-top: 15px !important;
    margin-left: 6px !important; }
    footer .navGeneral li i {
      font-size: 1em; }
  .contenidoFooter p {
    font-size: 0.4em; }
  .contenidoFooter .navGeneral
li i {
    font-size: 0.8em; }
  .nav-disciplinas ul {
    margin-top: 16px; }
    .nav-disciplinas ul li {
      margin-top: 10px; } }
