.form{
    display: inline;
    margin: 1rem;
    align-items: center;

    .form-select, .form-control, input, select, textarea{
        border-radius: 0.5rem !important;
        padding: 0.5rem !important;
        margin: 0.3rem !important;
        border: 2px solid #000056 !important;
        text-align: center !important;
    }
}
button{
    border-radius: 1rem;
    padding: 2rem;
    margin: 3rem;
}
.botonera{
    button{
        @extend button;
        border-radius: 0.9rem;
        padding: 1rem;
        margin: 1rem;
    }
}
.botonera button{
    border-radius: 0.9rem;
    padding: 1rem;
    margin: 1rem;
}