#filtrarPor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nuevaNav {
    background-color: rgb(21, 21, 124);
    #navbarNav {
        justify-content: center;
        // a {
        //     color: $colorBlanco;
        //     padding-right: 1rem !important;
        //     padding-left: 1rem !important;
        // }
    }
}

.cardDisciplina {
    padding: 1.2rem;
    border-radius: 1.5rem !important;
    text-decoration: none !important;
    min-height: 60px;
    color: black;
    margin-left: 0.7rem;
    margin-bottom: 1rem;
    height: 580px;
    
}
.cardText{
    margin-top:1rem;
    h2{
        text-align: center;
    }
   
}

.imgCard {
    height: 200px;
}

.lineaDisciplina {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 15px;

}

.disciplina {
    text-decoration: none;

    #texto {
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
    }

    div img {
        text-align: center;
    }

    h3 {
        text-align: center;
        color: black;
    }

    p {
        color: black;
    }
}