header{
    background-color: $colorSapa;
}
.headerSup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 
.header-nav{
    margin-left: 0px;
    display: flex;
    list-style-type: none;

    li{
        margin-left: 1.5rem;
    }
}
