$colorSapa : #000056;
$colorBlanco : white;

@import '_header';
@import '_disciplinas';
@import 'contacto';
@import '_home';
@import '_footer';

*{
    font-size: 1.1rem;
    font-family: 'Roboto',  Verdana, sans-serif;
}
body{
    width: 100%;
    height: auto;
}
@media (min-width: 300px) and (max-width:570px){
    #textDisciplinas{
        font-size: 20px;
        font-weight: bolder;
    }
    @mixin sizes($width) {
        width: $width;
     }
    #imgCarrusel{
        height: 310px
    } 
    #imgLogoMobile{
        @include sizes(70px);
    }
    footer {
        #imagenFooter{
            @include sizes(70px);
        }
    p{
        font-size: 10px;
    }
    li {
        margin-left: 1px;
        i{
            font-size: 1em;
        }
    }

    }
    .contenidoFooter{
       
        p{
            font-size: 10px;
        }
        .navGeneral 
        li {
            margin-left: 1px;
            i{
                font-size: 1em;
            }
        }
    }
    .nav-disciplinas{
        ul{
            margin-top: 16px;
        } 
        li{
            margin-top: 10px;
        }
    }
     
    
}